<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Product Card</title>
</head>
<body>
    <div class="product">
        <div class="imgBox">
            <img src="product.png" alt="blouse">
        </div>
        <div class="details">
            <h2>Brand Name <br><span>Women's Casual Blouse</span></h2>
            <div class="price">$59.99</div>
            <label >Sizes</label>
        <ul>
            <li>XS</li>
            <li>S</li>
            <li>M</li>
            <li>L</li>
            <li>XL</li>
        </ul>

        <label >Color</label>
        <ul class="colors">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <a href="#">Add To Cart</a>
        </div>
        
    </div>
    
</body>
</html>