body {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrap {
    width: 300px;
    height: 400px;
    /* border: 1px solid rebeccapurple; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.card {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rebeccapurple;
    /* add preserve 3d */
    transform-style:preserve-3d; 
    transition:.7s ease;
}

.card:hover{
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
}

.back {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: #fafafa;
}

