@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

nav {
    position: fixed;   
    top:0;
    left:0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing:border-box;
    transition: .5s;
}

nav .logo{
    float: left;    
}
nav .logo img{
    height: 80px;
    transition: .5s;   
}

/*nav ul style*/

nav ul{
    float: right;
    margin:0;
    padding:0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    line-height: 80px;
    color:#8b8b8b;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

nav ul li a.active,
nav ul li a:hover
{
    color:#fff;
    background: #f00;
}

section.sec1{
    width: 100%;
    height: 100vh;;
    background: url(bg1.jpg);
    background-size:cover;
}