body{
    margin:0;
    padding:0;
}

.container{
    position: relative;
    width:100%;
}

.container .section{
    position: sticky;
    width: 90%;
    height: 100vh;
    background: #000;
}

.container .section:nth-child(1){
    background: url(bg1.jpg);
    background-size: cover;
}
.container .section:nth-child(2){
    background: url(bg2.jpg);
    background-size: cover;
}
.container .section:nth-child(3){
    background: url(bg3.jpg);
    background-size: cover;
}

.container .section:nth-child(4){
    background: url(bg4.jpg);
    background-size: cover;
}

.container .section:nth-child(5){
    background: url(bg5.jpg);
    background-size: cover;
}